<b>Types</b> |
<a href="{{ location.absUrl().replace('/categories', '/sequence') }}">Sequence</a> |
<a href="{{ location.absUrl().replace('/categories', '/pie') }}">Time</a><br>

<p>
<table class="traceTable">
  <tr ng-repeat="category in categories | orderBy:'-Traces.length'">
    <td>{{ category.Traces.length }}</td>
    <td>{{ category.StructureTitle }}</td>
    <td>
    <span ng-repeat="trace in category.Traces">
    <a href="/uml/trace/{{trace}}/sequence{{ window.location.search }}">{{trace}}</a>{{traceAnnotations(category, trace)}}
    </span>
    </td>
  </tr>
</table>
