<!--
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2017. All Rights Reserved.
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<a href="{{ categoriesUrl() }}">Types</a> |
<a href="{{ sequenceUrl() }}">Sequence</a> |
<b>Time</b>

<p>
<button id="prevFlow" type="button" ng-click="prevFlow()">&lt;</button>
<button id="nextFlow" type="button" ng-click="nextFlow()">&gt;</button>
Flow: {{ clusters[nflow].root_request }}

<p>
<svg id="pie" width="600" height="500">
</svg>

