<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en">
<title>Trace Analytics for Istio</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>

<script src="js/query.js"></script>
<script src="js/uml3.js"></script>

<link rel="stylesheet" href="css/uml.css">
<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">

</head>
<body>


<div ng-app="istio">
	<div ng-controller="TraceQueryController as query" layout="column" flex layout-fill>
		<md-toolbar md-scroll-shrink>
	      <div class="md-toolbar-tools">Trace Analytics for Istio</div>
	    </md-toolbar>
	     
	    <md-content>
	    	<md-input-container>
	        	<label>Start time</label>
	        	<input ng-model="startTime">
	      </md-input-container>
	
	    	<md-input-container>
	        	<label>End time</label>
	        	<input ng-model="endTime">
	      </md-input-container>
	
	    	<md-input-container>
	        	<label>Max</label>
	        	<input ng-model="max" type="number">
	      </md-input-container>
	      
	      <md-button class="md-raised md-primary" ng-click="query()"  data-ng-disabled="startTime==''">Query</md-button>
	    </md-content>
	    
	    <md-content>
			<span ng-if="queryStatus">{{ queryStatus }}</span>
	 	</md-content>
	 	
	 	<md-content > <!-- ng-if="rawTraces" -->
Trace: <span id="traceno"></span> /
Sibling traces: <span id="sibling_cnt"></span> /
Initiated at: <span id="initiated"></span>;
Duration: <span id="tracelength"></span> /
Reporting server: <a href="" id="data_origin"></a> <!-- span id="data_origin"></span -->

<br>
<button id="prevTrace" type="button" onclick="prevTrace()" disabled>&lt;</button>
<button id="nextTrace" type="button" onclick="nextTrace()" disabled>&gt;</button>
<button id="bigger" type="button" onclick="bigger()">+</button>
<button id="smaller" type="button" onclick="smaller()" disabled>-</button>
Zoom: <span id="zoomlevel"></span>
<br><button id="dump" type="button" onclick="alert(JSON.stringify(traces[ntrace]));">dump</button>

<p>
<svg id="chart">
  <defs>
    <!-- This is used as a sync message call arrowhead -->
    <marker id="SolidArrowhead" viewBox="0 0 10 10" refX="1" refY="5"
        markerWidth="5" markerHeight="5" orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
    
    <!-- This is used as an async message return arrowhead -->
    <marker id="OpenArrowhead" viewBox="0 0 10 10" refX="1" refY="5"
        markerWidth="5" markerHeight="5" orient="auto" fill="transparent" stroke="black">
      <path d="M 0 0 L 10 5 L 0 10" />
    </marker>
    
    <marker id="SolidTimeoutArrowhead" viewBox="0 0 10 10" refX="1" refY="5"
        markerWidth="5" markerHeight="5" orient="auto" fill="lightblue">
      <path d="M 0 0 L 20 5 L 0 10 z" />
    </marker>

    <marker id="SolidTimeoutStartArrowhead" viewBox="0 0 10 10" refX="1" refY="5"
        markerWidth="5" markerHeight="5" orient="auto-start-reverse" fill="lightblue">
      <path d="M 0 0 L 20 5 L 0 10 z" />
    </marker>

    <filter x="0" y="0" width="1" height="1" id="LabelBackground">
      <feFlood flood-color="lightgrey"/>
      <feComposite in="SourceGraphic"/>
    </filter>

    <filter x="0" y="0" width="1" height="1" id="ArrowLabelBackground">
      <feFlood flood-color="white"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
</svg>
		</md-content>	 	
	 	
	 	<md-content>
			<p>
			Demo of using <a href="http://zipkin.io">Zipkin</a> data to understand system behavior.
			For more details on Zipkin see <a href="http://zipkin.io/pages/data_model.html">Data Model</a>
			and <a href="http://zipkin.io/pages/instrumenting.html">Instrumenting a Library</a>.
		</md-content>
	</div>
</div>


<script src="http://d3js.org/d3.v3.js"></script>

<script>
console.log("Hello Javascript from uml.html");

var svg = prepareChart();
var traces;
var ntrace;

function prevTrace() {
	if (ntrace > 0) {
		ntrace--;
		showTrace(traces, ntrace);
	}
}

function nextTrace() {
	if (ntrace < traces.length-1) {
		ntrace++;
		showTrace(traces, ntrace);
	}
}
</script>

</body>
</html>
