<!DOCTYPE html>
<!--
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2017. All Rights Reserved.
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en">
<base href="/uml5/">
<title>Trace Analytics for Istio</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>

<!-- script src="/static/js/dummy_testdata.js"></script> -->
<script src="/static/js/query5.js"></script>
<script src="/static/js/uml5.js"></script>

<link rel="stylesheet" href="/static/css/uml.css">
<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">

</head>
<body>


<div ng-app="istio">
	<div ng-controller="TraceQueryController as query" layout="column" flex layout-fill>
		<md-toolbar md-scroll-shrink>
	      <div class="md-toolbar-tools">Trace Analytics for Istio</div>
	    </md-toolbar>
	     
	    <md-content>
	    	<md-input-container>
	        	<label>Start time</label>
	        	<input ng-model="startTime">
	      </md-input-container>
	
	    	<md-input-container>
	        	<label>End time</label>
	        	<input ng-model="endTime">
	      </md-input-container>
	
	    	<md-input-container>
	        	<label>Max</label>
	        	<input ng-model="maxTraces" type="number">
	      </md-input-container>
	      
	      <md-button class="md-raised md-primary" ng-click="query()"  data-ng-disabled="startTime==''">Query</md-button>
	    </md-content>
	    
	    <md-content>
			<span ng-if="queryStatus">{{ queryStatus }}</span>
			<span ng-if="dataOrigin">Reporting Zipkin: <a href="{{ dataOrigin }}" id="data_origin">{{ dataOrigin }}</a></span>
			
	 	</md-content>
	 	
	 	<div ng-view>
	 	</div>
	 	
	 	<md-content>
			<p>
			Demo of using <a href="http://zipkin.io">Zipkin</a> data to understand system behavior.
			For more details on Zipkin see <a href="http://zipkin.io/pages/data_model.html">Data Model</a>
			and <a href="http://zipkin.io/pages/instrumenting.html">Instrumenting a Library</a>.
		</md-content>
	</div>
</div>


<script src="http://d3js.org/d3.v3.js"></script>

<script>
console.log("Hello Javascript from uml5.html");
</script>

</body>
</html>
