<!DOCTYPE html>
<!--
// Licensed Materials - Property of IBM
// (C) Copyright IBM Corp. 2018. All Rights Reserved.
// US Government Users Restricted Rights - Use, duplication or
// disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en">
<title>Canary Analytics for Istio WITH SKYDIVE v2</title>
</head>
<body style="margin:0px;padding:0px;overflow:hidden">
<iframe name="canary-analytics-frame" src="/canary/categories?{{ request.query_string.decode('ASCII') }}"
     frameborder="0" style="position:fixed;overflow:hidden;height:100%;width:50%" height="100%" width="50%"></iframe> -->

<iframe name="baseline-skydive-frame" src="https://cognetiveyz.sl.haifa.il.ibm.com/UserFrosting/public/"
     frameborder="0" style="position:fixed;overflow:hidden;left:50%;height:50%;width:50%" height="50%" width="50%"></iframe>

<iframe name="canary-skydiveframe" src="https://cognetiveyz.sl.haifa.il.ibm.com/UserFrosting/public/"
     frameborder="0" style="position:fixed;overflow:hidden;left:50%;top:50%;height:50%;width:50%" height="50%" width="50%"></iframe>

</body>
</html>
